﻿
@{
    ViewBag.Title = "Index";
}

<h1>ParamSample</h1>
<div>
    <label>@ViewBag.Subject</label>
    <div>@ViewBag.Description</div>
    <div>@ViewBag.eg</div>
    <div>@ViewBag.CacheTime</div>
</div>

