﻿@{
    ViewBag.Title = "Home Page";
}

<h1>HOME</h1>

<div>
    <label>@ViewBag.Subject</label>
    <div>@ViewBag.Description</div>
    <div>@ViewBag.CacheTime</div>
</div>

<ul>
    <li><a href="/">Default</a></li>
    <li><a href="/Home/Index2">Client</a></li>
    <li><a href="/Home/Index3">Server</a></li>
    <li><a href="/Home/Index4">ServerAndClient</a></li>
    <li><a href="/Home/Index4">Any</a></li>
</ul>